body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

  
  h1 {
    color: #ff1c1c;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;

  }
  

  .containerItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Thẻ sản phẩm */
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .card h2 {
    margin: 10px 0;
    color: #000000;
    font-size: 24px;
  }
  
  button {
    background-color: #c71a1a;
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    width: 150px;
    border-radius: 25px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #f96a7d;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Giỏ hàng */
  ol {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 50px;

    width: 90%;
  }
  
  ol li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ol li p {
    margin: 0;
    padding: 0;
    color: #343a40;
    font-weight:bold;
    font-size: 20px;
    flex: 1;
    text-align: center;
  }
  
  button.delete-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 1px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  button.delete-button:hover {
    background-color: #c82333;
  }
  
  /* Tổng tiền */
  label {
    font-size: 28px;
    color: #000000;
    margin-right: 100px;
    margin-top: 20px;
    display: block;
    text-align: right;
    font-weight: bold;
  }
  
.detail{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
   

}
.detail span {
    font-size: 20px;
    font-weight: bold;
    flex: 1;
    text-align:center;

  }